{% extends 'todoapp/base.html' %}

{% block content%}
<h1>
    {% if user.is_authenticated %}

    {% else %}
        {{user.username}}'s Todo List
    {% endif%}
</h1>

{% if error %}
    <p class="text-danger">{{error}}</p>
{% endif %}

<div class="row">
    <div class="col-xs-6 col-md-offset-3">
    <form action="/" method="POST">
        {% csrf_token %}
        <select name="userid" class="form-control">
            {% for u in users%}
                <option value="{{u.id}}">
                    {{u.username}}
                </option>
            {% endfor %}
        </select>
        <input type="text" name="text" class ="form-control" placeholder="What would you like to do?">
        <input type="submit" value="Add Todo" class="btn btn-info">
    </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h2>The list of Doing</h2>
        <table class="table table-striped">
            <th>item</th>
            <th>Name</th>
            <th>Done?</th>
            <th>Remove?</th>
            {% for t in todos %}
                <tr>
                    <td>{{t.text}}</td>
                    <td>{{t.user}}</td>
                    <td>
                        {% if t.is_complete%}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            <a href="{{t.id}}/done">Mark it done</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{t.id}}/delete">Ex?</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
